<h2>My Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <h5><i class="fas fa-check-square"></i> <%=  link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="fas fa-dumpster"></i>
      <% end %>
    <% else %>
      <h5><i class="far fa-square"></i> <%=  link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="fas fa-dumpster"></i>
      <% end %>
      </h5>
    <% end %>
  <% end %>
</ul>
<button type="button" class="btn btn-primary"><%= link_to "Create task", new_task_path, :class => "button" %></button>
